# Eclipse
/.classpath
/.project
/.settings
/*.jardesc

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# NetBeans
/nbproject

# vim
.*.sw[a-p]

# Maven
/target
/pom.xml
/dependency-reduced-pom.xml

# various other potential build files
/build
/bin
/dist
/build.xml
/manifest.mf

# Mac filesystem dust
.DS_Store
